body {
    font-family: 'Roboto Condensed', sans-serif;
}

#bg {

    background: url('https://i.postimg.cc/xdjH7s8b/background-Insta-Scheduler.png') no-repeat center center fixed;
    background-color: blueviolet;
     height: 100vh;
     background-size: cover;
}


a {
    text-decoration: none !important;
    color: #ffffff !important;
}


#logo {
    font-size: 30px;
    color: #ffffff;
 
}

.signin-btn {
    background-color: #b100c9;
    width: 150px;
    height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50px;
    border: 0;
    font-size: 25px;

}

.signin-btn:hover {
    background-image: -moz-linear-gradient(90deg, #720385 0%, #d806ee 100%);
    background-image: -webkit-linear-gradient(90deg, #720385 0%, #d806ee 100%);
    background-image: -ms-linear-gradient(90deg, #720385 0%, #d806ee 100%);
    color: #ffffff;
    font-weight: bold;
}

.register-btn {
    /* background: #007bff40; */
    background-image: -moz-linear-gradient( 90deg, #6c00ff 0%, #3680f0 46%, #00ffe0 100%);
    background-image: -webkit-linear-gradient( 90deg, #6c00ff 0%, #3680f0 46%, #b3d7ff 100%);
    background-image: -ms-linear-gradient( 90deg, #6c00ff 0%, #3680f0 46%, #00ffe0 100%);  
width: 150px;
    height: 50px;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: 50px;
    border: 0;
    font-size: 25px;
    font-weight: normal;

}

.register-btn:hover {
    background-image: -moz-linear-gradient( 90deg,   #3680f0 0%, #6c00ff 100%);
    background-image: -webkit-linear-gradient( 90deg,  #3680f0 0%, #6c00ff 100%);
    background-image: -ms-linear-gradient( 90deg, #3680f0 0%, #6c00ff 100%);
    color: #ffffff;
    font-weight: 700;
    border: 0;
}


#infoBox {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    box-shadow: -8.09px 5.878px 9.5px 0.5px rgba(0, 0, 0, 0.35);
   padding: 10px;
    width: 350px;
    height: 430px;
    font-size: 18px;
    color: #ffffff;
}

.clock-icon {
 
    color:#62026d;
    font-size: 26px;
    padding-bottom: 3px;
}
.calender-icon {
 float: right !important;
    color:#b520c5;
    font-size: 26px;
    padding-bottom: 3px;
}

.getStarted-btn {
    border: solid 1px #b520c5;
}
.getStarted-btn:hover {
    border: solid 1px #000000;
    background-image: -moz-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
}

.uniqueModules {
    text-align: center !important;
    font-size: 16px !important;
    /* position: absolute; */
}


#featuresBox {
    border-radius: 10px;
    background-image: -moz-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(11,0,27) 0%, rgb(114,3,133) 66%, rgb(216,6,238) 100%);
    box-shadow: -8.09px 5.878px 9.5px 0.5px rgba(0, 0, 0, 0.35);
   padding: 10px;
    width: 350px;
    height: 380px;
    font-size: 16px;
    color: #ffffff;    
}

#featuresBox h5 {
    background: #000000ab;
    padding: 15px;
    border-radius: 10px;
    text-transform: uppercase;
}
 

.featuresList{
text-align: left !important;
text-transform: uppercase;
padding-left: 30px;
    padding-top: 15px;
}

.featuresList li{
    list-style-type: none;
}

.footer-text {
    color: #505050;
    text-transform: uppercase !important;
    font-size: 15px;
}
.footer-text a:hover {
    color: #ffffff !important;
 }

.footer-text a {
  
    color: #505050 !important;
 
}


::selection {
    color: #00ffe0;
    background: #000000;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #74008b; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(151, 0, 189); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(204, 0, 255); 
  }

  .page-not-found img {

    width: 65%;
    height: auto;

  }